
/*Propriete global*/
html{
	width:100%;
	margin: auto;
}
a {
	color:#0dc2ce;
	outline:none;
	}
li{
	list-style-type: none;
}
.color-1 {
	color:#fff;
}
.color-2 {
	color:#000;
}
.color-3 {
	color:#4f4f4f;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter{
	text-align: center;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative;
	}
.extra-wrap {
	overflow:hidden;
}
.p2 {
	margin-bottom:15px;
}
.p4 {
	margin-bottom:40px;
}
.border {
	padding:3px;
	border:1px solid #e5e5e5;
	background:#fff;
}
.textj{
	text-align: justify;
}
.main {
	width:960px;
	padding:0;
	margin:0 auto;
	font-size:0.875em;
	line-height:1.5em;
}
.menu li a {
	text-decoration:none;
	}
a:hover {
	text-decoration:none;
	}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#181818;
	min-width:960px;
	background:#171717
}
.bg {
	width:100%;
	background:url(../images/bg.jpg) center top no-repeat #fff;
}
.space{
	width: 100%;
	height: 10px;
	border: 1px solid black;
}

.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}


/*header*/
header {
	width:100%;
	padding-bottom:44px;
	margin-bottom:-30px;
}
#page1 header {
	min-height:600px;
	background:url(../images/header-bg.jpg) center top no-repeat;
}

/* menu */
.menu-row {
	width:100%;
	background:url(../images/menu-tail.png) center top repeat-x;
}
.menu {
	padding:0px;
	width:100%;
	margin: 0;
	}
.menu li {
	list-style-type: none;
	display:inline-block;
	position:relative;
	background:url(../images/menu-spacer.gif) right 31px no-repeat;
}
.menu li.last-item {
		background:none;
}
.menu li a {
	display:block;
	width:188px;
	font-size:28px;
	line-height:2em;
	padding:31px 0 26px 0;
	color:#151515;
	background:url(../images/menu-active-tail.png) left -120px repeat-x;
	text-align:center;
	letter-spacing:-1px;
	border-radius:0 0 8px 8px;
	}
.menu li a.active, .menu li a:hover {
	color:#fff;
	background-position:left top;
	background-color: #171717;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.20);
}

/*contenu*/
#contenu {
	width:100%;
	padding:0 0 26px 0;
}
#page1 #contenu {
	padding:0 0 40px 0;
}
#page3 #contenu {
	width: 80%;
	margin: auto;
}


h2 {
	font-size:41px;
	line-height:1.219em;
	margin:0 0 18px 0;
	color:#151515;
	font-weight:300;
	letter-spacing:-1px
}
h3 {
	font-size:35px;
	line-height:1.514em;
	margin:0 0 17px 0;
	color:#151515;
	font-weight:300;
	letter-spacing:-1px;
	width: 500px
}
h4 {
	font-size:28px;
	line-height:1.214em;
	margin:0 0 6px 0;
	color:#0dc2ce;
	font-weight:300;
	letter-spacing:-1px;
}

.text-1 {
	display:block;
	font-size:14px;
	line-height:21px;
}
.text-1 a {
	color:#181818
}
.numb {
	display:block;
	width:60px;
	height:60px;
	text-indent:-5000px;
	float:left;
	margin-right:20px;
}
.numb.first {
	background:url(../images/numb-1.png) 0 0 no-repeat;
}
.numb.second {
	background:url(../images/numb-2.png) 0 0 no-repeat;
}
.numb.third {
	background:url(../images/numb-3.png) 0 0 no-repeat;
}
.list-1 li {
	list-style-type: none;
	font-size:14px;
	line-height:17px;
	padding:7px 0 7px 12px;
	background:url(../images/marker.gif) 0 13px no-repeat;
}
	.list-1 li a {
		text-decoration: none;
		display:inline-block;
		color:#4f4f4f;
	}
	.list-1 li a:hover {
		color:#0dc2ce;
	}
	
.service{
	width: 90%;
	margin: 5%;


}
/* Service */
.srv1, .srv2, .srv3, .srv4, .srv5, .srv6{
	display: inline-block;
	vertical-align: top;
	width: 350px;
	height: 450px;
	margin-left: 40px;
	box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px 0px;
    border-radius: 4px;
	margin-bottom: 50px;
}
.service img{
	width: 100%;
	height: 150px;
}
.service p{
	padding: 0px 16px 16px;
    color: grey;
    font-size: 14px;
    line-height: 20px;
}
.service h4{
	padding: 0px 16px;
    margin: 12px 0px;
    font-family: TreatwellSansWeb-Light;
    color: rgb(77, 77, 77);
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
}

/* Produit */
.product{
	display: inline-block;
	vertical-align: top;
	width: 250px;
	height: 400px;
	margin-left: 40px;
	box-shadow: rgb(0 0 0 / 30%) 0px 1px 3px 0px;
    border-radius: 4px;
	margin-bottom: 50px;
	
}
.product img {
	width: 100%;
	height: 225px;
}
.product-stock {
    color: rgb(143, 143, 149);
    display: block;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    text-align: right;
    padding: 0px 15px;
}
.product-name {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    min-height: 50px;
	margin: 10px 10px 0 10px;
    text-align: center;
}

.pricet{
	padding-left: 20px;
	color: rgb(143, 143, 149);
    font-size: 16px;
}
.price {
    color: rgb(239, 24, 96);
    font-size: 16px;
    font-weight: 600;
	padding-right: 10px;
}
.svp{
	text-align: center;
	margin: 40px;
}
.pagination{
    display: inline-block;
    padding-left: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0px;
	display: inline;
}
.pagination li {
	display: inline-block;
}
.pagination li a {
	text-decoration: none;
	color: #000000;
	margin: 15px;
	padding: 20px 40px 20px 40px;
	background:  rgba(143, 143, 149, 0.3);
}
.last-item2{
	margin-left: 40px;
}
.pagination li a:hover{
	background:  rgba(143, 143, 149, 1);
}



.button2 {
	display:inline-block;
	font-size:19px;
	text-decoration: none;
	line-height:1.21em;
	font-weight:400;
	text-transform:uppercase;
    font-family: museo;
	letter-spacing:-1px;
	padding:4px 13px 6px;
	color:rgb(250, 100, 20);
	border: 1px solid rgb(250, 100, 20);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgb(204 204 204) 0px 2px 5px 0px;
}
	.button2:hover{
		color: #fff;
		background-color: rgb(250, 90, 30);
	}
.button {
	display:inline-block;
	font-size:19px;
	text-decoration: none;
	line-height:1.21em;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:-1px;
	padding:4px 13px 6px;
	color:#fff;
	background:url(../images/button-tail.gif) 0 0 repeat-x #09b4c2;
	border-radius:7px;
}
	.button:hover {
		background:#171717
	}
.text-form {
	float:left;
	display:block;
	font-size:14px;
	line-height:26px;
	width:112px;
	color:#4f4f4f;
	font-family:Arial, Helvetica, sans-serif;
}
.adresse{
	margin-left: 40px;
}
.adresse span {
	font-size:14px;
}
.adresse p {
	font-size:13px;
}
/* Contact form */
#contact-form {
	display:block;
}
	#contact-form label {
		display:block;
		height:31px;
		overflow:hidden;
	}
	#contact-form input, #contact-form select {
		float:left;
		width:326px;
		font-size:13px;
		line-height:1.23em;
		color:#4f4f4f;
		padding:4px 10px;
		margin:0;
		font-family:Arial, Helvetica, sans-serif;
		border:1px solid #e5e5e5;
		background:none;
		}
	#contact-form textarea {
		float:left;
		height:150px;
		overflow:auto;
		width:466px;
		font-size:13px;
		line-height:1.23em;
		color:#4f4f4f;
		padding:3px 10px;
		margin:0;
		font-family:Arial, Helvetica, sans-serif;
		border:1px solid #e5e5e5;
		background:none;
		}
.text-form {
	float:left;
	display:block;
	font-size:14px;
	line-height:26px;
	width:112px;
	color:#4f4f4f;
	font-family:Arial, Helvetica, sans-serif;
	}

/* Boxes */
.indent-bot2 {
	margin-bottom:27px;
	width: 450px;
}
.img-indent {
	float:left;
	margin:0 20px 0px 0;
}
.indent-bot {
	margin-bottom:20px;
}
.indent-top {
	padding-top:10px;
}
.indent-top2{
	padding-top:100px;
	
}

.prev-indent-bot {
	margin-bottom:10px;
}
.prev-indent-bot2 {
	margin-bottom:6px;
}
.buttons a:hover {
	cursor:pointer;
}
/*aside*/
aside {
	width:100%;
	padding:25px 0 51px;
	background:#efefef;
}
/* Liste services */
.list-services li {
	float:left;
	padding-right:7px
}
		.list-services li a {
			display:block;
			width:18px;
			height:18px;
			background:url(../images/social-icons.png) 0 0 no-repeat;
		}
		.list-services li a.item-2 {
			background-position: 25px 0;
		}

/*footer*/
footer {
	width:100%;
	height: 50px;
	color:#fff;
	padding:35px 0 40px;
}
.footer-text {
	font-size:22px;
	line-height:1.2em;
	font-weight:300;
	letter-spacing:-1px;
	margin-bottom:12px;
}
.footer-text b {
	display:block;
	font-weight:3000;
}
	
.support-phone {
	font-weight:300;
	font-size:41px;
	line-height:1.219em;
	color:#fff;
	letter-spacing:-1px;
	margin-top:-3px;
	width: 500px;
}
.support-phone strong {
	display:block;
	font-weight:300;
	font-size:35px;
	line-height:1.2em;
	color:#0dc2ce;
	margin-bottom:-11px;
}
.support-phone b {
	font-weight:300;
	color:#808080;
	margin-left:-7px;
}
